local_map_filter:
  ros__parameters:
    #Input/Output topics
    input_topic: "/octomap_cloud/local_vox"
    output_topic: "/local_map_filtered"

    # Frames
    target_frame: "base_link"
    transform_to_target: true

    # Stage 1: height cut (pot removal)
    enable_height_filter: true
    bottom_cut_m: 0.20              # pot height + margin  
    top_cut_m: 3.00                 # height of plant + margin

    # Stage 2: outlier cleanup
    enable_radius_outlier: true
    radius: 0.06
    min_neighbors: 10

    # Stage 3: voxel
    enable_voxel_downsample: false
    voxel_leaf: 0.01

    # Stage 4 (optional): ExG
    use_exg: false                # << flip this true/false
    normalize_rgb: true
    exg_threshold: 0.01
    drop_low_intensity: false
    min_intensity: 0.05

    # Debug topics
    publish_debug_topics: false
